div {
   font-family: 'Arial';
   background-color: #11ab1c;
   margin: 15px 2px;
   padding: 5px 40px;
   text-align: center;
   font-weight: bolder;
   width: 80px;
   display: inline-block;
   vertical-align: middle;
}

.flash:hover{
   -webkit-animation: 0.5s flash 1;
}

@-webkit-keyframes flash{
   25% , 75%{
      opacity: 0;
   }
   50%{
      opacity: 1;
   }
}
