div {
   font-family: 'Arial';
   background-color: #11ab1c;
   margin: 15px 2px;
   padding: 5px 40px;
   text-align: center;
   font-weight: bolder;
   width: 80px;
   display: inline-block;
   vertical-align: middle;
}

.descolgado {
   -webkit-animation: 1s descolgado 1;
   -webkit-transform-origin: top left;
}

@-webkit-keyframes descolgado {
   20%, 60%{
      -webkit-transform: rotate(80deg);
   }
   40% {
      -webkit-transform: rotate(60deg);
   }
   100% {
      -webkit-transform: translateY(400px);
   }

}
