div {
   font-family: 'Arial';
   background-color: #357c09;
   margin: 30px 30px;
   text-align: center;
   font-weight: bolder;
   padding: 15px 30px;
   width: 80px;
   display: inline-block;
   vertical-align: middle;
}

.sombraMovil {
   -webkit-transform: translateX(0);
}

.sombraMovil:hover {
   -webkit-transform: translateY(-6px);
   transition-duration: 0.5s;
   -webkit-animation: 1.5s moverCaja infinite;
}

@-webkit-keyframes moverCaja {
   50% {
      -webkit-transform: translateY(-3px);
   }
}

.sombraMovil:before {
   content: '';
   position: absolute;
   top: 100%;
   left: 5%;
   height: 10px;
   width: 90%;
   background: -webkit-radial-gradient(
      center,
      ellipse,
      rgba(0,0,0,0.35) 0%,
      rgba(0,0,0,0) 90%
   );
   opacity: 0;
}

.sombraMovil:hover:before {
   -webkit-transform: translateY(6px);
   transition-duration: 0.5s;
   opacity: 0.4;
   -webkit-animation: 1.5s moverSombra infinite;
}

@-webkit-keyframes moverSombra {
   50% {
      -webkit-transform: translateY(3px);
      opacity: 1;
   }
}
